/* Reset básico */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fundo com gradiente azul */
body {
    background: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

/* Container do card de login */
.login-container {
    width: 100%;
    max-width: 360px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Título */
h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #000000;
}

label {
    color: #292929;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Botão */
button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}

button:hover {
    background-color: #000000ef;
}

/* Link de cadastro */
.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #0079bf;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
