<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/das.css}" rel="stylesheet" />

</head>
<body>
    <header>
        <h1>Meus Quadros</h1>
        <button id="board-btn">Criar Quadro</button>
    </header>

    <div id="create-board-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Criar Novo Quadro</h2>
            <form action="#" th:action="@{/new/board}" method="post">
                <input type="text" name="name" placeholder="Nome do novo quadro" required>
                <textarea  name="description" id="description"></textarea>
                <button type="submit">Criar Quadro</button>
            </form>
        </div>
    </div>
    
      <main class="boards-container" id="boards-container">
        <div th:each="board : ${boards}" class="board">
            <!-- Link para redirecionar para a página do quadro -->
            <a th:href="@{/board/{id}(id=${board.id})}" class="board-link">
                <div class="board-content">
                    <h2 class="board-title" th:text="${board.name}">Board Title</h2>
                    <p class="board-desc" th:text="${board.description}">Description of the board</p>
                </div>
            </a>
        </div>
        
        
        
        
        

      </main>

      <script>
        // Abrir o modal (popup) quando o botão for clicado
        const modal = document.getElementById("create-board-modal");
        const btn = document.getElementById("board-btn");
        const span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        // Fechar o modal quando o "X" for clicado
        span.onclick = function() {
            modal.style.display = "none";
        }

        // Fechar o modal se o usuário clicar fora dele
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>
</html>