<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Drello</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" /></head>
<body>
    <div class="login-container">
        <div class="login-card">
            <h2>Login Drello</h2>
            <form action="/login" method="post">
                <label for="email">E-mail</label>
                <input type="email" id="email"  placeholder="Digite seu e-mail" name="email" required>

                <label for="password">Senha</label>
                <input type="password" id="password" placeholder="Digite sua senha" name="password"  required>

                <button type="submit">Entrar</button>
            </form>
            <p class="register-link">
                Não tem uma conta? <a href="/cadastro">Cadastre-se</a>
            </p>
        </div>
    </div>
</body>
</html>
